<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>



<div class="title">Pawnder</div>
<div class="three-square">
	<div class="square">
		<%= image_tag "paw.png", :style => "width:150px; height: 150px;" %>
	Blah blah blah Blah blah blah  Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah  </div>

	<div class="square">
		<%= image_tag "two_dogs.png", :style => "width:150px; height: 150px;" %>
	Blah blah blah Blah blah blah  Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah  </div>

	<div class="square">
		<%= image_tag "walking.png", :style => "width:150px; height: 150px;" %>
	Blah blah blah Blah blah blah  Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah  </div>

</div>


<div class="users-reg"><%= link_to 'Users:', users_path %> <%= User.count %> registered</div>
