<h2>User</h2>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% if @user.which == 1%>
	<p> I am a Dog Owner!!!! Here is a list of my dogs [iterate through list of dogs and add a link for each dog]</p>
<% else %>
	<p> I am a Dog Lover!!!! I don't own dogs. Add one by clicking here [insert button here to add method for dogs and assign to this owner] </p>
<% end %>

<%= params[:id] %>
<%= current_user.id %>


<% if @user != current_user%>
	<%= simple_form_for Message.new  do |f| %>
	  <%= f.hidden_field :to, :value => params[:id] %>
	  <%= f.hidden_field :date, :value => DateTime.now.to_date %>
	  <%= f.input :message %>
	  <%= f.button :submit %>
	<% end %>
<% end %>

<h3>Rating/Review</h3>
