<h2><%= @user.name if @user.name %></h2>
<p>Email: <%= @user.email if @user.email %></p>

<% if @user.which == 0%>
	<p> I am a Dog Owner!!!! Here is a list of my dogs:</p>
	<% @user.dogs.each do |dog| %>
	  <%= link_to dog.name, dog_path(params[:id] = dog.id) %>
	<% end %>
<% else %>
	<p> I am a Dog Lover!!!! I don't own dogs. I want to play with yours!</p>
<% end %>

<<<<<<< HEAD
<%= params[:id] %>
<%= current_user.id %>


<% if @user != current_user%>
	<%= simple_form_for Message.new  do |f| %>
	  <%= f.hidden_field :to, :value => params[:id] %>
	  <%= f.hidden_field :date, :value => DateTime.now.to_date %>
	  <%= f.input :message %>
	  <%= f.button :submit %>
	<% end %>
=======
<% if @user == current_user %>
  <%= button_to "Add Dog", new_dog_path, :class => "button medium", :method => :get %>
>>>>>>> FETCH_HEAD
<% end %>

<% if @user != current_user %>
	<h2> Send me a message to meet up! </h2>

	<%= simple_form_for Message.new do |f| %>
	  <%= f.hidden_field :to, :value => params[:id] %>
	  <%= f.hidden_field :date, :value => DateTime.now.to_date %>
	  <%= f.input :message %>
	  <%= f.button :submit %>
	<% end %>
<% end %>
